.btn-primary {
    color: #DBCBBD !important;    
    border-color: #87431D !important;
    background-color: #87431D !important;
    border-width: 2px;
    font-weight: bold;
}

.btn-primary:hover {
    color: #DBCBBD !important;
    background-color: #290001 !important;
    border-color: #290001 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem #2900017b !important;
    background-color: #290001 !important;
}

body {
    color: white;
}

form {
    margin: 80px auto 20px;
    width: 400px;
    padding: 0 20px 0;
}

.form-control, .form-control:focus, .form-check-input {
    background-color: #DBCBBD;
}

.form-check-input:checked, .form-check-input:focus {
    background-color: #290001;
    box-shadow: 0 0 0 .2rem #2900017b;
    border-color: #290001;
}