a {
  text-decoration: none;
  color: #C87941;
}

a:hover {
    font-weight: bold;
    color: #C87941;
}

button {
  background-color: transparent;
  border: 0;
  margin-bottom: 10px;
}

.cafe-box {
  position: relative;
  background-color: #290001;
  border-radius: 10px;
  color: #DBCBBD;
}

.col-md-3 {
  margin: auto;
}

.first-box,
.second-box,
.third-box,
.fourth-box {
  display: block;
  margin: 5px 10px 5px;
  padding: auto 0 auto;
}

.modify-cafe {
  position: absolute;
  text-align: end;
  right: 10px;
  padding-top: 10px;
  width: 40px;
}
