a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    margin-bottom: 10px;
}

.cafe-box {
    position: relative;
    background-color: #EEF1FF;
    border-radius: 10px;
}

.col-md-3 {
    margin: auto;
}

.first-box, .second-box, .third-box, .fourth-box {
    display: block;
    margin: 5px 10px 5px;
    padding: auto 0 auto;
}

.modify-cafe {
    position: absolute;
    text-align: end;
    right: 10px;
    padding-top: 10px;
    width: 40px;
}